html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before{
    box-sizing: inherit;
    font-family:"Young Serif", serif;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
h1,h2,h3{
    margin-top: 0;
}
a,a:visited,a:hover{
    text-decoration: none;
}
li{

    &::marker{
        color: $rose8;
    }
    & span{
        font-weight: bold;
        font-family: "Outfit", serif;

    }
    color: $stone6;
    font-family: "Outfit", serif;
    font-size: 16px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $stone1;
    padding: 100px;
    @include breakpoint-down(small){
        padding: 50px;
    }
}
.line{
    height: 1px;
    background-color: $stone2;
    outline: none;
    border-radius: 10px;
    border: none;
}
.copy {
    font-size: 1rem;
    text-align: center;
    color: #000;
    padding: 8px 0 5px 0;
  }
  
  .copy a {
    color: hsl(161.13, 100%, 29.6%);
    font-weight: 500;
  }
  
  .copy span {
    color: red;
    font-size: 1.35rem;
    padding: 0.4rem;
  }