html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif ;   
}
a,a:visited,a:hover{
    text-decoration: none;
}
h1,h2,h3{
    margin-top: 0 ;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cream;
    min-height: 100vh;
}
.button{
    background-color: $darkCyan;
    color: $white;
    padding: 0.875rem 3.75rem ;
    outline: none;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
}
.copy {
    font-size: 1rem;
    text-align: center;
    color: #000;
    padding: 8px 0 5px 0;
  }
  
  .copy a {
    color: hsl(161.13, 100%, 29.6%);
    font-weight: 500;
  }
  
  .copy span {
    color: red;
    font-size: 1.35rem;
    padding: 0.4rem;
  }