/*! features style*/
.features{
    background-color: $lightGrayishBlue;
    text-align: center;
    @include breakpoint-up(large){
        text-align: left;
    }
}
.feature{
   
    &__grid{
        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__item{
        padding: 0.9378rem;
        @include breakpoint-up(medium){
            flex: 1 0 50%;
        }
        @include breakpoint-up(large){
            flex: 1;
        }
    }
    &__icon{
        @include breakpoint-up(large){
            margin-bottom: 2.75rem;
        }
        margin-bottom: 1.875rem;
    }
    &__title{
        h3{
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
            @include breakpoint-up(large){
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }
    &__description{
        p{
            font-size: 1rem;
            line-height: 1.5;
        }
    }
    &__intro{
        margin-bottom: 3.75rem;
        @include breakpoint-up(large){
            max-width: 60%;
        }
    }
}
/*! end features style*/