.header{
    // Hamburger Open styles
    &.open{
        .overlay{
            display: block;
            animation: fade-in .3s ease-in-out forwards;
        }
        .header__menu {
            > span:first-child{
                transform: rotate(45deg);
            }
            > span:nth-child(2){
                opacity: 0;
            }
            > span:last-child{
                transform: rotate(-45deg);
            }
        }
      
        
       }
    .overlay{
        display: none;
        background-image: linear-gradient($darkBlue,transparent);
        position: fixed;
        top: 3.75rem;
        right: 0;
        left: 0;
        bottom: 0;
    }

    nav{
        padding: 24px;
    }
    &__logo{
        img{
            width: 8.8125rem;
            height: 1.375rem;
        }
    }
    &__menu{ // mobile menu
        > span{
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: .5s ease-in-out;
            transform-origin: 3px 1px;
            z-index: 1;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
     
    

    }
    &__links{
        border: 1px solid red;
        padding: 17px 1.5rem;
        a{
            font-size: $font-sm;
            color: $grayishBlue;
            transition: .5s ease-in-out;
            transition: color .2s ease-in-out;
            position: relative;
            &:not(:last-child){
                margin-right: 32px;
                
            }
            &:hover{
                color: $darkBlue;
                &::before{
                   width: 100%;
                   opacity: 1;
                }
            }
            &::before{
                position: absolute;
                content: "";
                display: block;
                left: 0;
                width: 0;
                right: 0;
                height: 5px;
                bottom: -30px;
                background: linear-gradient(to right ,$limeGreen, $brightCyan);
                opacity: 0;
                transition: .3s ease-in-out;
            }
        }
    }
    &__cta{
        font-size: $font-sm;
        color: $white;
        opacity: 1;
        transition: opacity .3s ease-in-out;
        &:hover{
            opacity: 0.75;
        }
    }

}
